<!DOCTYPE html>
<!--Sara McHattie-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <div class = "titleBanner"><h1>JynxFlix</h1></div>

    <!--Menu to navigate page-->
    <div class="menuContainer">
        <div class="menuOption">
            <a href="/">Home</a>
        </div>
    </div>

    <!--Movie list-->
    <div class = "listContainer">
        <% movies.forEach((movie)=>{ %>
            <div class = "movieContainer">
                <div class = "poster">
                    <img src="<%= movie.poster %>" alt="<%= movie.title %> Poster">
                </div>
                <div class = "title">
                    <%= movie.title%>
                </div>
                <div class = "details">
                    <label>Cast:
                    <%= movie.cast%></label><br>
                    <label>Year:
                    <%= movie.year%></label><br>
                    <label>Genres:
                        <%= movie.genres%></label><br>
                    <label>Runtime:
                    <%= movie.runtime%></label><br>
                    <label>Plot:
                    <%= movie.plot%></label><br>
                    <label>Awards won:
                    <%= movie.awards.wins%></label><br>
                    <label>Languages:
                    <%= movie.languages%></label><br>
                </div>
            </div>
            <% }) %>
    </div>
    


</body>
</html>